.bg-hero {
    position: absolute;
    inset: 0; /* substitui top, left, width, height */
    z-index: -1;
    background-color: #000; /* fundo preto */
}

.bg-hero::after {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../../assets/images/hero/bg.png");
    background-size: cover;
    background-position: bottom center;
    background-repeat: repeat-y;

    opacity: 0.4; /* opacidade só da imagem */
}